// white space

@mixin smalldevice {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

// hover effect

@mixin hover {
  box-shadow: 0px 16px 34px 4px rgba(201, 42, 42, 0.3);
  transition: .4s ease;
}

@mixin activeItem {
  color: var(--color-white);
  background-color: var(--color-red-light-1);
}

@mixin activeQestion {
  color: var(--color-white);
  background-color: var(--color-red-light-2);
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
  fill: white;
}

@mixin activeAnswer {
  padding: 1.8rem 4.5rem;
  max-height: 20rem;
  transition: 0.5s ease;
}

// Responsive

@mixin responsive($breakpoint) {
  @if $breakpoint == "tab" {
    @media only screen and (min-width: 40em) {
      @content;
    }
  }

  @if $breakpoint == "l-tab" {
    @media only screen and (min-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == "desktop" {
    @media only screen and (min-width: 64em) {
      @content;
    }
  }
}
