:root {
  --color-primary-light-1: #f1f3f5;
  --color-primary-light-2: #e7e7e7;

  --color-grey-dark-1: #495057;
  --color-grey-dark-2: #333333;
  --color-grey-light: #ced4da;

  --color-red-dark: #c92a2a;
  --color-red-light-1: #ff5857;
  --color-red-light-2: #fa5252;

  --color-blue-light: #d1dde9;

  --color-white: #fff;
}
